Output/*
!Output/.empty
ExampleLegacyMods
__pycache__
build
dist
Legacy Mod Converter.spec
.vscode
settings.json

# TODO: Remove this and push the updated libraries. Commit message:
# Added the pyvips library to the Libs/ folder, because the pip pyvips is broken. For some people the exe didn't work when pyvips was only located on my local PC and that path was referenced in my Python code, so that's also why I had to copy it over into this project.
Libs/*